<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="style.css"/>
        <title>Amazona</title>
</head>

    <body>
        <div class="grid-container">
        <header class="header">
            <div class="brand">
                <button onclick="openMenu()">
                    &#9776;
                </button>
                <a href="index.html">amazona</a>
            </div> 
            
            <div class="header-links">
                <a href="cart.html">Cart</a>
                <a href="signin.html">Sign In</a>

            </div>  
        </header>

        <aside class="sidebar">
            <h3>Shopping Categories</h3>
            <button class="sidebar-close-button" onclick="closeMenu()">x</button>

            <ul class="category">
                <li>
                    <a href="index.html">1/12 scale models</a>
                </li>
                <li>
                    <a href="index.html">1/18 scale models</a>
                </li>
                <li>
                    <a href="index.html">1/24 scale models</a>
                </li>
                <li>
                    <a href="index.html">1/32 scale models</a>
                </li><li>
                    <a href="index.html">1/36 scale models</a>
                </li>
                <li>
                    <a href="index.html">1/64 scale models</a>
                </li>
            </ul>

        </aside>
            <main class="main">
               <div class="content">
                <ul class="products">
                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d1.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/24 Land Crouser</a></div>
                            <div class="product-brand">maisto</div>
                            <div class="product-price">$30</div>
                            <div class="product-rating">4.5 stars (10 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d2.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/24 Lamborghini Countach</a></div>
                            <div class="product-brand">Bburago</div>
                            <div class="product-price">$25</div>
                            <div class="product-rating">5 stars (15 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d3.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/27 Chevrolet Colorado ZR2</a></div>
                            <div class="product-brand">maisto</div>
                            <div class="product-price">$33</div>
                            <div class="product-rating">4 stars (19 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d4.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Audi R8 (v8 engine) 2010 </a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$4</div>
                            <div class="product-rating">5 stars (25 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d5.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Nissan GTR35 2017</a></div>
                            <div class="product-brand">Chines model</div>
                            <div class="product-price">$6</div>
                            <div class="product-rating">3 stars (13 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d6.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/36 Mercedes-benz SLS( AMG )</a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$9</div>
                            <div class="product-rating">5 stars (20 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d7.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Dodge charger 1970</a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$3</div>
                            <div class="product-rating">5 stars (21 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d8.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/18 Dirt bike</a></div>
                            <div class="product-brand">Chienes</div>
                            <div class="product-price">$2.5</div>
                            <div class="product-rating">2 stars (5 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d9.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/18 KTM 1190 Rc8</a></div>
                            <div class="product-brand">Bburago</div>
                            <div class="product-price">$13</div>
                            <div class="product-rating">5 stars (15 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d10.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Mclaren f1</a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$5.5</div>
                            <div class="product-rating">5 stars (20 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d11.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Land Rover Defender</a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$5.5</div>
                            <div class="product-rating">5 stars (20 reviews)</div>
                        </div>
                    </li>

                    <li>
                        <div class="product">
                            <img class="product-image" src="images/d12.jpg" alt="product">
                            <div class="product-name"><a href="product.html">1/32 Jeep rangler </a></div>
                            <div class="product-brand">kinsmart</div>
                            <div class="product-price">$5.5</div>
                            <div class="product-rating">5 stars (20 reviews)</div>
                        </div>
                    </li>


                </ul>
               </div>
            </main>
            <footer class="footer">
                All right reserved.
            </footer>   
        </div>

<script>
 function openMenu(){
     document.querySelector(".sidebar").classList.add("open");
 }
function closeMenu(){
     document.querySelector(".sidebar").classList.remove("open");
 }
</script>


    </body>
</html>